*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/tools1.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
    border-radius: 50%;
}
nav img:hover{
    box-shadow: 0 0 20px 0px rgba(247, 250, 252, 0.8);
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-align: none;
    font-size: 13px;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box h2{
    color: #ffffff;
    font-style: italic;
    font-size: 36px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.8s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }    
    .nav-links{
        position: absolute;
        background-color:   #042d41;
        height: 100vh;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.6s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 20px;
    }
    nav img{
        width: 80px;
        height: 80px;
        margin-top: 5px;
        margin-left: 5px;
        padding: 0;
    }
}

/*----- Product -----*/
.product{
    text-align: center ;
    padding-top: 50px;
    color: #1c4c8a;
}
.row{
    margin-top: 3%;
    display: flex;
    padding-left: 240px;
    padding-right: 240px;
    justify-content: space-between;
}
.product-col{
    background: #b7d2fa;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 0px;
    box-sizing: border-box;
    transition: 0.8s;
}
.product-col img{
   align-items: center;
}
.products-col img{
    align-items: center;
 }
.product-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.product-col p{
    margin-top: 260px;
}
.product-col:hover{
    border-block-start-style: ridge;
    border-block-end-style: ridge;
    border-color: rgb(103, 125, 173);
    transition: 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(135, 149, 179, 0.8);
}
.rows{
    margin-top: 3%;
    display: flex;
    padding-left: 240px;
    padding-right: 240px;
    justify-content: space-between;
}
.products-col{
    background: #b7d2fa;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 0px;
    box-sizing: border-box;
    transition: 0.8s;
}
.products-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.products-col p{
    margin-top: 260px;
}
.products-col:hover{
    border-block-start-style: ridge;
    border-block-end-style: ridge;
    border-color: rgb(103, 125, 173);
    transition: 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(135, 149, 179, 0.8);
}
@media(max-width: 700px){
    .product{
        padding: 0px;
    }
    .product .row .product-col{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .product h1{
        padding: 0px;
        margin-top: 50px;
    }
    .row{
        flex-direction: column;
        padding: 0px 40px 0px 40px;
        margin-top: 20px;
    }
    .product-col img{
        margin-left: 15px;
        margin-right: 15px;
        height: 200px;
        width: 250px;
    }
    .product-col p{
        margin-top: 220px;
    }
    .product .rows .products-col{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .rows{
        flex-direction: column;
        padding: 0px 40px 0px 40px;
    }
    .products-col img{
        margin-left: 15px;
        margin-right: 15px;
        height: 200px;
        width: 250px;
    }
    .products-col p{
        margin-top: 220px;
    }
}
/*----- container -----*/
.container{ 
    margin: auto;
    padding: 80px; 
    margin-bottom: 200px; 
}
img{
    margin-left: auto;
    float: left;
    
    padding: 0 0px 0 0;
    border-radius: 12PX;
}
.text h1{
    margin-top: 150px;
    color: rgba(6, 135, 139, 0.678);
    text-align: center;
}
.text h2{
    color: rgb(10, 124, 124);
    text-align: center;
}
.text p{
    color: rgb(9, 53, 53);
    text-align: center;
}
@media(max-width: 700px){
    .container{
        margin: 0px;
        padding-top: 50px;
        padding-bottom: 50px; 
        background-color: #eef3f5;
    }
    .container img{
        margin-left: -25px; 
        height: 200px;
        width: 250px;
    }
    h1{
        padding-top: 80PX;
        font-size: 18px;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 14px;
        margin: 10px -24px; 
    }
}
/*----- offer -----*/
.offer{
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.offer-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.offer-col img{
    margin: auto;
    margin-left: 60px;
    margin-right: 60px;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    padding: 0px;
}
.offer-col p{
    margin: auto;
    text-align: center;
    padding: 10px;
}
.offer-col h3{
    margin: auto;
    text-align: center;
}
@media(max-width: 700px){
    .offer{
        padding-top: 50px;
    }
    .offer h1{
        padding-top: 0px;
    }
    .offer p{
      padding-left: 40px;
      padding-right: 40px;
    }
    .offer-col img{
        margin-left: 40px;
        height: 150px;
        width: 200px;
    }
    .offer-col h3{
        font-size: 16px;
    }
    .offer-col p{
        font-size: 14px;
        margin: 10px -24px; 
    }
}
/*----- testimonial -----*/
.testimonial{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial .row{
    padding-left: 0px;
    padding-right: 0px;
}
.testimonial-col{
    flex-basis: 35%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: rgb(204, 232, 240);
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 70px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa{
    color: rgb(236, 110, 110);
}
@media(max-width: 700px){
    .testimonial .row{
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .testimonial{
        padding: 0px;
    }
    .testimonial img{
        margin-top: -10px;
        margin-left: -10px;
    }
    .testimonial-col p{
        margin-top: -10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;   
    }
    .testimonial h1{
        padding: 0px;
        margin-top: 30px;
    }
    .testimonial h3{
        margin-left: 0px;
    }
}
/*----- contact us -----*/
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
}
.contact-us .row .contact-col h1{
    color: #07143f;
}
.contact-us .row{
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 70px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0px;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
.contact-col button{
    color: #555;
    border: 1px solid #ccc;
    border-radius: 10px;
}
@media(max-width: 700px){
    .contact-us .row{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .contact-col div{
        margin-bottom: 20px;
    }
    .contact-col div .fa{
        font-size: 20px;
    }
    .contact-col div h5{
        font-size: 16px;
        margin-bottom: 0px;
    }
    .contact-col div p{
        font-size: 14px;
        margin-left: 0px;
    }
    .contact-col input, .contact-col textarea{
        width: 90%; 
    }
    .contact-col button{
        margin-left: 61.5px;
    }
    .contact-col h1{
        padding-top: 20px;
        text-align: center;
    }
}
/*----- Footer -----*/
.footer{
    background-color: #425353;
}
.footer img{
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-left: 185px;
    border-radius: 50%;
}
.footer img:hover{
    box-shadow: 0 0 20px 0px rgba(247, 250, 252, 0.8);
}
.footer .container h1{
    margin-top: 20px;
    margin-left: 15px;
    color: ivory;
}
.footer .container P{
    font-size: 14px;
    margin-top: -5px;
    margin-left: 75px;
    color: ivory;
}
.footer .container{
    margin: auto;
    padding: 120px;
    margin-bottom: 0px;
    padding-bottom: 30px;
}
.footer .container .row{
    padding-left: 75px;
    padding-right: 75px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    padding: 0px 0px;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    background-color: lightblue;
    height: 2px;
    box-sizing: border-box;
    width: 70px;
}
.footer-col ul{
    margin-top: 20px;
}
ul{
    list-style: none;
}
.footer-col ul li a:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(252, 250, 250, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    columns: #ffffff;
    transition: all 0.5s ease;
    margin-top: 20px;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
    align-items: left;
}
.footer-bottom{
    background-color: #384b4b;
    size: 10px;
    flex-basis: auto;
    padding: 0px;
    margin-top: 0px;
}
.footer-bottom .container{
    padding: 30px 100px 30px 100px;
    text-align: center;
}
@media(max-width: 700px){
    .footer img{
        margin-top: 20px;
        margin-left: 130px;
    }
}
@media(max-width: 700px){
    .footer .container h1{
        margin-top: 0px;
        margin-left: 106px;
        padding-top: 0px;
        font-size: 16px;
    }
}
@media(max-width: 700px){
    .footer .container p{
        margin-bottom: 0px;
        margin-left: 115px;
        font-size: 12px;
    }
}
@media(max-width: 700px){
    .footer .container{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
        margin-left: 0px;
    }
}
@media(max-width: 700px){
    .footer .row{
        margin-top: 10px;
        padding: 0px;
        align-items: center;
        text-align: center;
    }
}
@media(max-width: 700px){
    .footer-col .social-links a{
       
    }
}

